/*/// COMMON ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
} 

/*/// TYPOGRAPHY ///*/
body{
    font-family: 'Fredoka', sans-serif;
}


/*/// MAIN ///*/

/* TITLE */
.box_title{
    max-width: 600px;
    margin: auto;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #E53170;
}
p{
    text-align: center;
    margin-bottom: 30px;
}

/* CARD */

/* contenitore dellE cards */
.container{
    max-width: 900px;
    margin: auto;
}

/* contenitore dellA */
.box_card{
    color: white;
    background-color: rgb(4, 4, 59);
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
} 

.card_img{
    width: 100px;
    float: left;
}
.card_info{
    float: left;
    padding: 20px 10px;
}
.card_info small, a{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mail{
   color: lightseagreen; 
   font-size: 14px;
   text-decoration: none;
}